<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.srpost.cm.biz.crawling.mappers.CrawlingMapper">

	<resultMap type="com.srpost.cm.biz.crawling.vo.CrawlingVO" id="mappingCrawlingVo">
        <result property="docSeq" column="doc_seq"/>
        <result property="docType" column="doc_type"/>
        <result property="title" column="title"/>
        <result property="writer" column="writer"/>
        <result property="siteType" column="site_type"/>
        <result property="docRegDt" column="doc_reg_dt"/>
        <result property="regDt" column="reg_dt"/>
    </resultMap>

 	<select id="checkDuplicateCrawling" resultMap="mappingCrawlingVo" resultType="CrawlingVO">
        select
        	doc_seq,
        	doc_type, 
			title,			 
			writer, 
			site_type, 
			doc_reg_dt,
			reg_dt 
		from si_crawling ci 
		where site_type = #{siteType}
		and success_yn = 'Y'
		order by reg_dt 
		LIMIT 1 
    </select>

	

   
    
    <insert id="insertCrawling">         
        INSERT INTO si_crawling
			(
				site_type,
				doc_seq,
				doc_type,
				title,
				writer,
				doc_reg_dt,
				file_yn,
				contents,
				detail_url,
				site_url,
				success_yn,
				reg_dt
			)
			VALUES
			(
				#{siteType},
				#{docSeq},
				#{docType},
				#{title},
				#{writer},
				#{docRegDt},
				#{fileYn},
				#{contents},
				#{detailUrl},
				#{siteUrl},
				#{successYn},
				CURRENT_TIMESTAMP
			);
         
    </insert>
    

</mapper>

